extends layout.pug
block title
  title=titre
block withoutContainer
  style=paddingvalue
  .container-fluid
    .modal.fade.bd-example-modal-lg(tabindex='-1', role='dialog', id="addaction")
      .modal-dialog.modal-lg(role='document')
        .modal-content
          .modal-header
            h5.modal-title Décrire votre action alteregaux
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') X
          .modal-body
            .container-fluid
              .row
                form#descriptionaction.col-md-12
                  label(for="groupname") Nom de groupe
                  input.form-control(type="text" name="groupname" id="groupname" required)
                  label(for="branche") Tranche d'âge / branche
                  input.form-control(type="text" name="branche" id="branche" required)
                  label(for="descprojet") Description du projet
                  textarea.form-control(cols="30", rows="3" name="descprojet" id="descprojet" required)
                  label(for="lieu") Lieu
                  input.form-control(type="text" name="lieu" id="lieu" required)
                  label(for="partenaires") Partenaires
                  input.form-control(type="text" name="partenaires" id="partenaires" required)
                  label(for="contactmail") Contact (mail)
                  input.form-control(type="mail" name="contactmail" id="contactmail" required)
              .row
                .col-md-6
                  form#fileform(enctype='multipart/form-data')
                    label(for="filetoupload") Sélectionner une photo pertinente et Cliquer sur Upload
                    input.form-control-file(type='file', name='filetoupload', accept='image/x-png,image/gif,image/jpeg')
                    input#upload.btn.btn-primary(type='button', value='Upload',hidden=false)
                    
                .col-md-6
                  progress.progress.progress-bar-striped.progress-bar-animated(value='0', max='100' hidden=true)
                  img#preview(src='', width='100px', hidden=true)
            .modal-footer
                button.btn.btn-secondary( data-dismiss='modal') Fermer
                button.btn.btn-primary(name="sauvegarder") Enregistrer &nbsp;
                  i.fa.fa-save 
                button#reset.btn.btn-success Effacer &nbsp;
                  i.fa.fa-recycle
    
    .modal.fade.bd-example-modal-lg(tabindex='-1', role='dialog', id="display")
      .modal-dialog.modal-lg(role='document')
        .modal-content
          .modal-header
            h5.modal-title Aperçu
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') X
          .modal-body
            .container-fluid
              
               
            .modal-footer
                
    .alert.alert-info
      .text-right
        a.btn.btn-warning(data-toggle='modal', data-target='#addaction') Déposer un projet

    h3 Liste des actions :
    if list.length==0
      h4 Aucune action n'a encore été déposée
    else
      .row
        - var i=1
        each elt in list
          - i+=1
            .col-md-3.action-pic
              a(data-toggle='modal', data-target='#display')
                img.img-fluid(src="/actionpics/"+elt.photo, alt="Photo action")
            .col-md-3.action-detail
              ul.list-group.list-group-flush
                li.list-group-item Nom groupe : #{elt.groupename}
                li.list-group-item Tranche d'age / Branche : #{elt.branche}
                li.list-group-item Description : #{elt.description}
                li.list-group-item Lieu : #{elt.lieu}
                li.list-group-item Partenaires : #{elt.partenaires}
                li.list-group-item Contact (mail) : #{elt.contact}
                li.list-group-item Ajouté le : #{elt.datajout}

  block javascript
    script(src='/js/scriptfileupload.js')
