extends layout.pug
block title
    title=titre
block withoutContainer
    .container-fluid
        .blockquote
            h3(style="margin-top:30px") 17 objectifs pour sauver le monde
            p.mb-0 Les objectifs de développement durable nous donnent la marche à suivre pour parvenir à un avenir meilleur et plus durable pour tous. Ils répondent aux défis mondiaux auxquels nous sommes confrontés, notamment ceux liés à la pauvreté, aux inégalités, au climat, à la dégradation de l’environnement, à la prospérité, à la paix et à la justice. Les objectifs sont interconnectés et, pour ne laisser personne de côté, il est important d’atteindre chacun d’entre eux, et chacune de leurs cibles, d’ici à 2030. Cliquez sur un objectif spécifique ci-dessous pour en savoir plus.
            footer.blockquote-footer
                a(href="https://www.un.org/sustainabledevelopment/fr/objectifs-de-developpement-durable/") 
                    cite Portail des Nations Unies sur les objectifs de développement durable
    .menu-list.text-center
        a(href="/list/education")
            img#education.animated.rotateIn.ico(src="/asset/img/pictonb/education.png",title="Education de qualité")
        a(href="/list/egalite")
            img#egalite.animated.rotateIn.ico(src="/asset/img/pictonb/egalite.png",title="Egalité des genres")
        a(href="/list/environnement")
            img#environnement.animated.rotateIn.ico(src="/asset/img/pictonb/environnement.png",title="Environnement et écocitoyenneté")
        a(href="/list/faim")
            img#faim.animated.rotateIn.ico(src="/asset/img/pictonb/faim.png",title="Faim et alimentation saine")
        a(href="/list/interculturel")
            img#inter.animated.rotateIn.ico(src="/asset/img/pictonb/interculturel.png",title="Interculturel et rencontre de l'autre")
        a(href="/list/paix")
            img#paix.animated.rotateIn.ico(src="/asset/img/pictonb/paix.png",title="Construction de la paix")
        a(href="/list/pauvrete")
            img#pauvrete.animated.rotateIn.ico(src="/asset/img/pictonb/pauvrete.png",title="Pauvreté et exclusion")
        a(href="/list/sante")
            img#sante.animated.rotateIn.ico(src="/asset/img/pictonb/sante.png",title="Santé et bien-être")
        a(href="/list/travail")
            img#travail.animated.rotateIn.ico(src="/asset/img/pictonb/travail.png",title="Travail décent")
        a(href="/list/ville")
            img#ville.animated.rotateIn.ico(src="/asset/img/pictonb/ville.png",title="Villes et communautés durables")
    script.
        $(".ico").mouseenter(function (evt, btn) {
            $("#" + evt.currentTarget.id).animateCss('zoomIn');
        });
block content
    img(id= lien,class="odd",src='/asset/img/oddonu/'+lien+'.PNG', alt="Logo objectif de développemet durable" class="mx-auto d-block",style="cursor:pointer;")
    - var listOfDoc=list
    .row
        table.table.table-stripped
            thead
                th #
                th Libellé du document
                th Nature du document
                th Date de publication
                th Lien
            tbody
                - var i=0
                each elt in list
                    tr
                        td= ++i
                        td=elt.libelle
                        td=elt.nature
                        td=elt.datecreation
                        td
                            a(href=elt.chemin) Télécharger &nbsp;
                                i.fa.fa-download
                else
                    tr Aucun document n'a encore été uploadé dans cette catégorie
    .addthis_inline_share_toolbox
    .vbuffer(style='height:200px')

block javascript
    script.
        var oddUnLinks={
            pauvrete:'https://www.un.org/sustainabledevelopment/fr/poverty/',
            education:'https://www.un.org/sustainabledevelopment/fr/education/',
            egalite:'https://www.un.org/sustainabledevelopment/fr/gender-equality/',
            environnement:'https://www.un.org/sustainabledevelopment/fr/climate-change-2/',
            faim:'https://www.un.org/sustainabledevelopment/fr/hunger/',
            interculturel:'https://www.un.org/sustainabledevelopment/fr/globalpartnerships/',
            paix:'https://www.un.org/sustainabledevelopment/fr/peace-justice/',
            sante:'https://www.un.org/sustainabledevelopment/fr/health/',
            travail:'https://www.un.org/sustainabledevelopment/fr/economic-growth/',
            ville:'https://www.un.org/sustainabledevelopment/fr/cities/'
            };

        var lien = $('.odd').attr('id');
        $(".odd").click(function (evt, btn) {
            location.href=oddUnLinks[evt.currentTarget.id];
        });
    script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bd5b3b3add96e74')

