extends layout.pug
block title
    title=titre
block content
    .alert.alert-info 
        span.fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-exclamation.fa-stack-1x.fa-inverse
        span Nous mettons à votre diposition une palette d'outils de communication autour du projet Alter-Egaux
    h5 Liste des outils
    table.table.stripped.display(id="example")
        thead
            th Libellé
            th Description
            th Aperçu
            th Téléchargement
        tbody
            - var i=1
            each elt in list
                 tr
                    td=elt.libelle
                    td=elt.description
                    td
                        img(src="/asset/img/tools/"+elt.apercu, alt=elt.libelle, width="50%")
                    td 
                        a.btn.btn-info(href=elt.lien)
                            i.fa.fa-download
                        br
                        |
                        span.small Ajouté le #{elt.dateajout}
block javascript
    script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
    script.
        $(document).ready(function() {
            $('#example').DataTable({
                "language": {
                "lengthMenu": "Afficher _MENU_ entrées par page",
                "zeroRecords": "Aucune entrée trouvée n'a été trouvé",
                "info": "Affichage de page _PAGE_ sur _PAGES_",
                "infoEmpty": "Aucune entrée disponible",
                "infoFiltered": "(filtré parmi _MAX_ entrées)",
                "search":"Chercher",
                "Previous":"Précédent",
                "Next":"Suivant"
            }
            });
        } );